In [1]:
import pandas as pd
import numpy as np
import statistics
import math
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

## Import datasets

data diambil dari https://www.kaggle.com/datasets/mathchi/diabetes-data-set

In [2]:
url = 'https://raw.githubusercontent.com/arofiqimaulana/Course-Python-For-Data-Analysis/762d8c9c29ec0d12251c0268bd85f3c6c0b3ae24/Section%206%20(Data%20Visualization)/data/diabetes.csv'
df = pd.read_csv(url)

In [3]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [4]:
# Deskripsi data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

## Sampling

Rumus Slovin

n = N/(1+N.e^2)

In [6]:
N = len(df) # Ukuran Populasi
e = 0.05 # Tingkat Signifikansi

In [7]:
n = N/(1+N*e**2)
n

263.01369863013696

In [8]:
# Dari 768 orang, kita akan ambil sampel sebanyak 263
n_sample = round(n)
n_sample

263

In [9]:
# Mengambil data secara acak
sampled_df = df.sample(n=n_sample)
sampled_df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
468,8,120,0,0,0,30.0,0.183,38,1
270,10,101,86,37,0,45.6,1.136,38,1
89,1,107,68,19,0,26.5,0.165,24,0
214,9,112,82,32,175,34.2,0.260,36,1
724,1,111,94,0,0,32.8,0.265,45,0
...,...,...,...,...,...,...,...,...,...
484,0,145,0,0,0,44.2,0.630,31,1
520,2,68,70,32,66,25.0,0.187,25,0
498,7,195,70,33,145,25.1,0.163,55,1
702,1,168,88,29,0,35.0,0.905,52,1
390,1,100,66,29,196,32.0,0.444,42,0

## Statistika Descriptive

In [10]:
sampled_df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
468,8,120,0,0,0,30.0,0.183,38,1
270,10,101,86,37,0,45.6,1.136,38,1
89,1,107,68,19,0,26.5,0.165,24,0
214,9,112,82,32,175,34.2,0.260,36,1
724,1,111,94,0,0,32.8,0.265,45,0
...,...,...,...,...,...,...,...,...,...
484,0,145,0,0,0,44.2,0.630,31,1
520,2,68,70,32,66,25.0,0.187,25,0
498,7,195,70,33,145,25.1,0.163,55,1
702,1,168,88,29,0,35.0,0.905,52,1
390,1,100,66,29,196,32.0,0.444,42,0

In [13]:
# Misalnya kita ingin mengetahui informasi mengenai Glukosa pasien
val = sampled_df['Glucose']

In [14]:
# 1. Central Tendency
# Dapat menggunakan mean, median, modus
mean = np.mean(val) # mean (a.k.a average, rata-rata, nilai tengah)
median = np.percentile(val,50) # median
modus = statistics.mode(val) # modus

In [19]:
np.percentile(val,[25,50,75,95])# Q1,Q2,Q3

array([ 99. , 115. , 136. , 175.7])

In [18]:
print("mean =",mean)
print("median =",median)
print("modus =",modus)

mean = 117.36501901140684
median = [ 99. 115. 136.]
modus = 99

In [ ]:
# 2. Dispersion
# Dapat menggunakan range, std deviasi, koefisien keragaman

In [ ]:
# Range
nilai_min = min(val)
nila_max = max(val)
range = nila_max-nilai_min
range

In [ ]:
# Standard Deviasi
std = np.std(val)
std

In [ ]:
# Koefisien Keragaman (%)
koef_keragaman = std*100/mean
koef_keragaman

## Charts

In [ ]:
"""
Grafik menunjukkan bahwa data glukosa berdistribusi normal (no skew) artinya pasien yang glukosanya
rendah dan tinggi sama-sama banyaknya
"""

sns.histplot(val)
plt.show()

In [ ]:
"""
Grafik menunjukkan bahwa data glukosa tidak berdistribusi normal (kurva menjulur ke kanan). 
artinya lebih banyak pasien yang memiliki insulin rendah.
"""

sns.histplot(sampled_df.Insulin)
plt.show()

In [ ]:
"""
Boxplot berguna untuk mengetahui persebaran data dan pemusatan data serta mengetahui ada
tidaknya outlier.
"""
sns.boxplot(val.values.tolist())

In [ ]:
sns.boxplot(sampled_df.Insulin.values.tolist())